body {
  font-family: 'Roboto', sans-serif;
  background: linear-gradient(135deg, #f0f0f0, #e0e0e0);
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background-color: #fff;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 400px;
  margin-top: 150px;
  text-align: center;
}

.title h1 {
  margin: 0;
  padding: 10px 0;
  font-weight: 700;
  font-size: 2.5em;
  color: #4CAF50;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

#task-btn {
  background-color: #505050;
  color: white;
  padding: 10px 15px;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
  position: absolute;
  margin-top: -100px;
  left: 45%;
}

#task-btn:hover {
  background-color: #45a049;
}

#task-btn h2 {
  margin: 0;
}

.task-number{
  background-color: #4CAF50;
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

}
.task-text{
  
  color: rgb(0, 0, 0);
}
#add-btn {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

#add-btn div {
  display: flex;
  align-items: center;
  justify-content: center;
}

#add-btn input[type="text"] {
  width: 250px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

#add-btn input[type="text"]:focus {
  border-color: #4CAF50;
  outline: none;
  box-shadow: 0 0 5px rgba(76, 175, 80, 0.5);
}

#add-btn button {
  background-color: #4CAF50;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

#add-btn button:hover {
  background-color: #45a049;
  transform: scale(1.05);
}

#thetask {
  margin-top: 20px;
  width: 100%;
}

.task {
  background-color: #fff;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.3s ease;
}

.task p {
  margin: 0;
  font-size: 1em;
  color: #333;
}

.task button {
  color: #fff;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#taskss {
  background-color: #fff;
  overflow-y: scroll;
  height: 240px;
  max-width: 100%;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

#taskss::-webkit-scrollbar {
  width: 8px;
}

#taskss::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

#taskss::-webkit-scrollbar-thumb {
  background: #4caf4f8e;
  border-radius: 10px;
}

#taskss::-webkit-scrollbar-thumb:hover {
  background: #45a049;
}

.complete-btn {
  background-color: #4CAF50;
  margin-right: 5px;
}

.complete-btn:hover {
  background-color: #246927;
}

.delete-btn {
  background-color: #f44336;
  margin-right: 5px;
}

.delete-btn:hover {
  background-color: #af1308;
}

.edit-btn {
  background-color: #6f7172;
  margin-right: 5px;
}

.edit-btn:hover {
  background-color: #434444;
}

.notif {
  background-color: rgba(129, 129, 129, 0.664);
  color: #fff;
  padding: 10px;
  padding-right:  20px;
  padding-left: 20px;
  border-radius: 30px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-size: 1rem;
  top:0;
  margin-top: 20px;
  position: absolute;
  display: fixed;
  text-align: center;
}

.err{
  background-color: #f44336;
  padding:7px;
  padding-right:  10px;
  padding-left: 10px;
  border-radius:  45px;
  margin-right: 10px;
}

.suc{
  background-color: #4CAF50;
  padding:7px;
  padding-right:  10px;
  padding-left: 10px;
  border-radius:  45px;
  margin-right: 10px;
}
.notif p {
  margin: 0;
}
